<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lecture">
	<resultMap type="map" id="map"></resultMap>
	
	<insert id="insertLecture">
		INSERT INTO STUDY VALUES(SEQ_STUDY.NEXTVAL,
								 2, 
								 #{subno}, 
								 #{tno}, 
								 #{dno}, 
								 #{title}, 
								 #{freqs}, 
								 #{content}, 
								 #{price}, 
								 NULL, 
								 #{recruit}, 
								 '모집 중', 
								 #{time}, 
								 'lecture', 								
								 #{ldate}, 
								 #{sdate}, 
								 #{edate}, 
								 sysdate,
								 #{etc})
	</insert>

	<select id="selectLocList" resultMap="map">
		SELECT * FROM LOCAL
	</select>
	
	<select id="selectTownList" resultMap="map">
		SELECT * FROM TOWN WHERE LNO = #{localNo}
	</select>
	
	<select id="selectSubList" resultMap="map">
		SELECT * FROM SUBJECT WHERE KNO = #{kindNo}
	</select>
	
	<select id="selectKindList" resultMap="map">
		SELECT * FROM KIND
	</select>
	
	<select id="selectDiffList" resultMap="map">
		SELECT * FROM DIFF
	</select>
	
	<select id="selectLectureList" resultMap="map">
		SELECT SNO,
		       (SELECT M.MNAME AS MNAME FROM MEMBER M WHERE M.MNO = A.MNO) MNAME,
		       (SELECT L.LOCAL AS LOCAL FROM LOCAL L WHERE L.LNO = A.LNO) LOCAL, 
		       (SELECT T.TOWNNAME AS TNAME FROM TOWN T WHERE T.TNO = A.TNO) TNAME,
		       (SELECT K.KINDNAME AS KNAME FROM KIND K WHERE K.KNO = A.KNO) KNAME,
		       (SELECT SUB.SUBJECTNAME AS SUBNAME FROM SUBJECT SUB WHERE SUB.SUBNO = A.SUBNO) SUBNAME,
		       (SELECT D.DIFFICULTNAME AS DNAME FROM DIFF D WHERE D.DNO = A.DNO) DNAME,     
		        TIME,
		        NVL(PRICE, 0) AS PRICE,
		        STATUS,        
		        LDATE,
		        SDATE,
		        EDATE,
		        REGDATE
		FROM (SELECT S.*, 
		            (SELECT T.LNO AS LNO FROM TOWN T WHERE T.TNO = S.TNO) LNO,
		            (SELECT SUB.KNO AS KNO FROM SUBJECT SUB WHERE SUB.SUBNO = S.SUBNO) KNO
		      FROM STUDY S 
		WHERE TYPE = 'study') A
		ORDER BY SNO DESC;
	</select>
	
	<select id="selectLectureOne" resultType="map">
		SELECT SNO,
		       (SELECT M.MNAME AS MNAME FROM MEMBER M WHERE M.MNO = A.MNO) MNAME,
		       (SELECT L.LOCAL AS LOCAL FROM LOCAL L WHERE L.LNO = A.LNO) LOCAL, 
		       (SELECT T.TOWNNAME AS TNAME FROM TOWN T WHERE T.TNO = A.TNO) TNAME,
		       (SELECT K.KINDNAME AS KNAME FROM KIND K WHERE K.KNO = A.KNO) KNAME,
		       (SELECT SUB.SUBJECTNAME AS SUBNAME FROM SUBJECT SUB WHERE SUB.SUBNO = A.SUBNO) SUBNAME,
		       (SELECT D.DIFFICULTNAME AS DNAME FROM DIFF D WHERE D.DNO = A.DNO) DNAME,     
		        TIME,
		        NVL(PRICE, 0) AS PRICE,
		        STATUS,        
		        LDATE,
		        SDATE,
		        EDATE,
		        REGDATE
		FROM (SELECT S.*, 
		            (SELECT T.LNO AS LNO FROM TOWN T WHERE T.TNO = S.TNO) LNO,
		            (SELECT SUB.KNO AS KNO FROM SUBJECT SUB WHERE SUB.SUBNO = S.SUBNO) KNO
		      FROM STUDY S 
		WHERE TYPE = 'study' AND SNO = #{sno}) A
		ORDER BY SNO DESC;
	</select>
	
	<delete id="deleteLecture">
		DELETE FROM STUDY WHERE SNO = #{sno} and STATUS = '모집 중'
	</delete>
</mapper>
