section#content{padding:30px; background:#fff;}


/* 광고 */
.banner{}
.topBanner{background:#333; min-height:70px; color:#fff; display:none; }
.navbar-brand{font-weight:bold; font-size:24px;}
.adverstingPopup{position:absolute; width:350px; display:none; z-index:1001; right:300px; top:200px; }
.adverstingPopup img{width:100%}
footer{ background:#333; margin-bottom:160px;  }
.followFooter{background:#000; position:fixed; padding:20px; color:#fff; bottom:0px; width:100%; letter-spacing:1px; z-index:1000; }

 
.closebtn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 62px;
  height: 62px;
  opacity: 1;
  cursor:pointer;
}
.closebtn:hover {
  opacity: 1;
}
.closebtn:before, .closebtn:after {
  position: absolute;
  left: 28px;
  content: ' ';
  height: 62px;
  width: 1px;
  background-color: #fff;
}
.closebtn:before {
  transform: rotate(45deg);
}
.closebtn:after {
  transform: rotate(-45deg);
}


.rm_table{ background:#fff;  box-sizing:border-box; border-collapse:inherit; border-spacing:0; }


.rm_table {
    border: 1px solid #eaecef;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 4px #efefef;
    overflow:hidden;
    margin-top:20px; 
    margin-bottom:20px;
}
.rm_table th{
	text-align:center;
	padding:14px 12px;
	font-size:14px;
	color:#fff;
	background:#ff0080;
    border-top: medium none;
    border-bottom: 1px solid #ddd;
}
.rm_table .advDate{text-align:center;}


.rm_table td:first-child, .bordered th:first-child {
	text-align:center;
    border-left: medium none;
}

.rm_table tr:first-child td{
	border:none;
}

.rm_table td, .bordered th {
    border-top: 1px solid #eaecef;
    padding:14px  12px;
    text-align: left;
}
.rm_table td{
	cursor:pointer;	
}

.rm_table .advType{text-align:center;}




.panel {
	overflow: hidden;
	position: relative;
	vertical-align:middle; 
	
}

.leftSection{float:left}
.rightSection{float:right}

.rm_btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 20px;
	position:relative;
	display:inline-block;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	user-select: none;
	border:1px solid rgba(27, 31, 35, 0.2);
	border-radius:0.25em;
	-webkit-appearance: none;
	
}
.rm_btn_colorGreen{
	color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);	
}


.customCols{padding:0px;}



.upfile_name{overflow:hidden; position:relative;}
.upfile_name .upfile_cover{position:absolute; z-index:500; top:4px; left:4px;  padding:10px 15px; height:50px; width:424px;  max-width:424px; background:#fff;  }
.upfile_name .upfile_button{position:absolute; z-index:500; top:4px; right:4px;  padding:10px 15px; height:50px; width:100px; background:#333; color:#fff; border:0px solid #ececec; font-size:12px; border-radius:2px; }
.imgSize{padding:10px; }


/* 윙 */
.adverstingWingWrap {
	top:73px;
	position:relative;
	
}
.adverstingWing {
	z-index:50;
	display:none; 
	background-clip:content-box;
	background-size:cover;
	background-position:center;
	position: absolute;
	width: 140px;
	height: 120px;
	right:-120px; 
	top:0px; 
}



.rm_study_list .list{clear:both; overflow:hidden; postion:relative;}
.rm_study_list .list li{float:left; width:22.7%; margin:20px 0px; padding:0px 15px; min-width:250px;}
.rm_study_list .list li .pixel{background:#fff; border-radius:3px;  transition-duration: 0.5s;}
.rm_study_list .list li .pixel:hover{ 
    box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
    transform: translateY(-10px);

.rm_study_list .list li .pixel .photoSection{display: block; overflow:hidden; border-radius:3px 3px 0px 0px;}
.rm_study_list .list li .pixel .photoSection img{width:100%; height:300px; object-fit: cover; object-position: center;} 


.rm_study_list .list li .pixel .inforSection{display: block;}
.rm_study_list .list li .pixel .inforSection h4{padding:0 18px; height:42px; line-height:140%; margin:24px 0 15px;; }

.rm_study_list .list li .pixel .metaSection{height:60px; border-top:1px solid #f3f3f3}
.rm_study_list .list li .pixel .metaSection p{padding:0 18px; margin:14px 0 5px;}