<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="memberEnrollEnd">
		insert into member values (seq_member.nextval, 
										#{mid},
										#{mname},
										#{pwd},
										#{phone},
										#{addr},
										#{mprofile},
										#{email},
										#{birth},
										#{gender},
										#{favor, typeHandler=strArrTypeHandler},
										default,
										default,
										default,
										null,
										default
										)
	</insert>
	<select id="selectKind" resultMap="kindMap">
		select * from kind
	</select>
	<resultMap type="map" id="kindMap"></resultMap>
	
	<resultMap type="member" id="memberMap">
		<result column="favor" property="favor" typeHandler="strArrTypeHandler"/>
	</resultMap>
	<select id="selectOneMember" parameterType="string" resultMap="memberMap">
		select * from member where mid=#{userId}
	</select>
	<select id="selectOneMemberId" parameterType="member" resultMap="memberMap">
		select * from member where mname=#{mname} and email=#{email}
	</select>
	<update id="updatePwd">
		update member set pwd=#{pwd} where mid=#{mid}
	</update>
	<select id="selectCntMember" parameterType="member" resultType="_int">
		select count(*) from member where mid=#{mid} and email=#{email}
	</select>
	<update id="updateMember" >
		update member set 
						mid=#{mid}, 
						<if test="mid != null">
							mname=#{mname},
						</if>
						<if test="phone != null">
							phone=#{phone},
						</if>
						<if test="addr1 != null">
							addr1=#{addr1}, 
						</if>
						<if test="addr2 != null">
							addr2=#{addr2}, 
						</if>
						<if test="addrDetail != null">
							addrDetail=#{addrDetail}, 
						</if>
						<if test="post != null">
							post=#{post}, 
						</if>
						<if test="mprofile != null">
							mprofile=#{mprofile}, 
						</if>
						<if test="email != null">
							email=#{email},
						</if>
						<if test="birth != null">
							birth=#{birth}, 
						</if>
						<if test="gender != null">
							gender=#{gender}, 
						</if>
						<if test="favor != null">
							favor=#{favor, typeHandler=strArrTypeHandler}, 
						</if>
						<if test="cover != null">
							cover=#{cover}
						</if>
			where mno=#{mno}
	</update>
	<update id="dropMember">
		update member set qdate=sysdate where mid=#{mid}
	</update>
	<update id="updateEmail">
		update member set email=#{email} where mid=#{mid}
	</update>
	<select id="selectApplyList" parameterType="_int" resultMap="applyList">
		select  s.title as "title", 
	        (select mid from member where mno=#{mno}) as "mid", 
	        (select mid from member where mno=(select mno from study where sno=(select sno from apply where mno=#{mno}))) as "captain",
	        s.status as "status", 
	        (select count(*) from apply where sno=(select sno from member where mno=#{mno}) ) as "applycnt",
	        s.recruit as "recruit",
	        extract(year from s.ldate)||'/'||extract(month from s.ldate)||'/'||extract(day from s.ldate) as "ldate",
	        (select extract(year from a.adate)||'/'||extract(month from a.adate)||'/'||extract(day from a.adate) as "adate" 
	        from apply a 
	        where mno=#{mno}) as "adate"
		from study s
	</select>
	<select id="selectApplyListCnt" parameterType="_int" resultType="_int">
		select count(*) from apply where mno=#{mno}
	</select>
	<resultMap type="map" id="applyList"></resultMap>
			
	<select id="selectMyStudyList" parameterType="_int" resultMap="mystudyList">
		select s.title as "title",
	        (select mid from member where mno=2) as "mid", 
	        (select mid from member where mno=(select mno from study where sno=(select sno from crew where mno=#{mno}))) as "captain",
	        s.freq as "freq",
	        extract(year from s.sdate)||'/'||extract(month from s.sdate)||'/'||extract(day from s.sdate) as "sdate",
	        extract(year from s.edate)||'/'||extract(month from s.edate)||'/'||extract(day from s.edate) as "edate",
	        s.time as "time"
		from study s
	</select>
	<select id="selectMyStudyListCnt" parameterType="_int" resultType="_int">
		select count(*) from crew where mno=#{mno}
	</select>
	<resultMap type="map" id="mystudyList"></resultMap>
	
	<select id="selectWishList" parameterType="_int" resultMap="wishList">
		select * from wish
	</select>
	<select id="selectWishListCnt" parameterType="_int" resultType="_int">
		select count(*) from wish where mno=#{mno}
	</select>
	<resultMap type="map" id="wishList"></resultMap>
 
 	<insert id="insertMailCertification">
 		INSERT INTO CERTIFICATION VALUES(seq_certification.nextval,#{tomail}, #{ranstr})
 	</insert>
 	<select id="checkEmail" resultType="_int">
 		SELECT COUNT(*) cnt FROM CERTIFICATION WHERE EMAIL = #{tomail}
 	</select>
 	<update id="uploadMailCertification">
 		UPDATE CERTIFICATION SET CERTI = #{encoded} WHERE EMAIL = #{tomail}
 	</update>
 	<select id="selectCheckJoinCode" resultType="map">
 		SELECT * FROM CERTIFICATION WHERE EMAIL = #{email}
 	</select>
 	<select id="checkIdDuplicate" resultType="_int">
 		SELECT COUNT (*) COUNT FROM MEMBER WHERE MID = #{userId}
 	</select>
	<delete id="deleteCertification">
		DELETE FROM CERTIFICATION WHERE EMAIL = #{email}
	</delete>
	<select id="selectCategory" resultType="map" >
		select kindname from kind 
	</select>
</mapper>